<div class="main-content">
    <div class="container-fluid">
          <!--<div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button>
                            </div>
                            <div class="right-button">
                                <button *ngIf="autority('GSF_2')" class="btn btn-secondary" (click)="openModalAdd(addfacture)"> {{ __("facture.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [formSearch]="false"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailfacture>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <mat-tab-group>
            <mat-tab label="Information du facture">
              <br />


              <div class="so-surface mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="so-kv">
                            <div class="so-k">{{ __("facture.numero")}}</div>
                            <div class="so-v">{{ facture.numero  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("facture.commande")}}</div>
                            <div class="so-v">{{ facture.commande_reference  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("facture.montant_ht")}}</div>
                            <div class="so-v">{{ formatNumber(facture.montant_ht, ' ')  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k mb-3">{{ __('commande.statut') }}</div>
                            <div class="so-v">
                              <span class="status-badge" [ngClass]="getStatusBadgeClass(facture.statut)">
                                {{ getStatusLabel(facture.statut) }}
                              </span>
                            </div>
                          </div>
                      
                  
                      
                    </div>
                    <div class="col-md-6">
                        <div class="so-kv">
                            <div class="so-k">{{ __("facture.date_facture")}}</div>
                            <div class="so-v">{{ facture.date_facture  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("facture.fournisseur")}}</div>
                            <div class="so-v">{{ facture.fournisseur_nom  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("facture.montant_ttc")}}</div>
                            <div class="so-v">{{ formatNumber(facture.montant_ttc, ' ')  }}</div>
                        </div>
                      
                    </div>
                </div>
            </div>

      
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                  <i class="fa fa-paperclip mr-2"></i>{{ __('soumissions.tab_documents') }}
                </ng-template>
                <br />
                <ng-container *ngIf="getDocuments(facture) as docs">
                  <div class="so-doc-count">{{ docs.length }} {{ __('soumissions.documents_soumis') }}</div>
        
                  <div class="so-doc-list" *ngIf="docs.length; else noDocs">
                    <div class="so-doc-item" *ngFor="let d of docs">
                      <div class="so-doc-left">
                        <div class="so-doc-ico">
                          <i [class]="getDocIconClass(d.type_document)"></i>
                        </div>
                        <div class="so-doc-name">{{ d.nom_fichier || '-' }}</div>
                      </div>
        
                      <div class="so-doc-mid">
                        <span class="so-doc-type" [ngClass]="getDocTypeClass(d.type_document)">
                          {{ (d.type_document || '-') | uppercase }}
                        </span>
                        <span class="so-doc-date">
                          {{ d.date_creation ? (d.date_creation | date: 'dd/MM/yyyy') : '-' }}
                        </span>
                      </div>
        
                      <div class="so-doc-right">
                        <a class="so-doc-download" [href]="d.url" target="_blank" rel="noopener">
                          <i class="fa fa-download mr-2"></i>{{ __('soumissions.telecharger') }}
                        </a>
                      </div>
                    </div>
                  </div>
        
                  <ng-template #noDocs>
                    <div class="so-surface">
                      <div class="so-empty">{{ __('soumissions.no_documents') }}</div>
                    </div>
                  </ng-template>
                </ng-container>
              </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                  <i class="fa fa-history mr-2"></i>{{ __('commande.tab_historique') }}
                </ng-template>
                <br />
                <div class="co-timeline" *ngIf="facture.historiques?.length; else noHistorique">
                  <div class="co-timeline-item" *ngFor="let h of facture.historiques">
                    
                    <div class="co-timeline-content mt-2">
                      <div class="co-timeline-title d-flex"> <div class="co-dot" [ngClass]="getCommandeStatusDotClass(h.nouveau_statut)"></div> {{ h.action || '-' }}</div>
                      <div class="co-timeline-meta">
                       <span *ngIf="h.created_at">
                         {{ h.created_at ? (h.created_at) : '-' }}
                       </span>
                        <span class="mx-1">•</span>
                        {{ __('commande.par') }} : <span class="so-muted">{{ getHistoriqueUserLabel(h) }}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #noHistorique>
                  <div class="so-surface">
                    <div class="so-empty">{{ __('commande.no_historique') }}</div>
                  </div>
                </ng-template>
              </mat-tab> 


            <!-- <mat-tab label="Liste des catégories">
                <br />
        
                <div class="categories-container">
                    <div class="categorie-card" *ngFor="let categorie of famille.categories">
                      <b class="gras">{{ categorie.code }}</b><br>
                      {{ categorie.nom }}
                
                      <div class="sous-categories" *ngIf="categorie.sous_categories.length > 0">
                        <div class="sous-categorie" *ngFor="let sous of categorie.sous_categories">
                          {{ sous.code }} - {{ sous.nom }}
                        </div>
                      </div>
                    </div>
                  </div>
              </mat-tab> -->
      
                   
          </mat-tab-group>


      

        <div class="modal-footer">
            <button type="button" *ngIf="facture.statut == 'EN_ATTENTE' && autority('GSF_1')"  [disabled]="isDisabled"
            class="btn " style="background-color: #a03c00;"  (click)="valider('REJETEE')">{{ __('global.rejeter')}}</button>
            <button type="button" *ngIf="facture.statut == 'EN_ATTENTE' && autority('GSF_1')"  [disabled]="isDisabled"
            class="btn " style="background-color: green;" (click)="valider('VALIDEE')">{{ __('global.valider')}}</button>
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>



<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addfacture>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="factureForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.code')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('facture.code')}}" formControlName="code" name="code">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.raison_sociale')}}</mat-label>
                                <input matInput type="text" placeholder="{{ __('facture.raison_sociale')}}" formControlName="raison_sociale" name="raison_sociale">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.email')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('facture.email')}}" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('facture.telephone')}}</label>


                            <ngx-intl-tel-input
                            formControlName="telephone"
                            [preferredCountries]="['sn','mg']"
            
                            [enableAutoCountrySelect]="true"
                            [enablePlaceholder]="true">
                          </ngx-intl-tel-input>

                        </div>
                    </div>

                    
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.adresse')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.adresse')}}" formControlName="adresse" name="adresse">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.fax')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('facture.fax')}}" formControlName="fax" name="fax">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.ville')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.ville')}}" formControlName="ville" name="ville">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.pays')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('facture.pays')}}" formControlName="pays" name="pays">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.site_web')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.site_web')}}" formControlName="site_web" name="site_web">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.registre_commerce')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('facture.registre_commerce')}}" formControlName="registre_commerce" name="registre_commerce">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('facture.ninea')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.ninea')}}" formControlName="ninea" name="ninea">
                            </mat-form-field>
                        </div>
                    </div>

                   
                </div>
              
             

               

                

                
               
               
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!facture.id" [disabled]="factureForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="facture.id" [disabled]="factureForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>
