<nav aria-label="breadcrumb" style="margin-left: 15px;">

    <div class="button-container">
        <div class="breadcrumbCustomize flat left-button">
            <a href="/home">Accueil</a>
            <ng-container *ngFor="let breadcrumb of breadcrumbService.breadcrumbs; let last = last; let i = index">
                <a 
                    *ngIf="!last" 
                    [routerLink]="breadcrumb.url"
                    [class.active]="last"
                >
                    {{ breadcrumb.label }}
                </a>
                <span 
                    *ngIf="last" 
                    class="active"
                    [attr.data-counter]="i + 2"
                >
                    {{ breadcrumb.label }}
                </span>
            </ng-container>
        </div>

    </div>
    

</nav>
