<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="listShow">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-button"></div>
                            <div class="right-button">
                            <button class="btn btn-secondary export-btn excel text-white" (click)="exportExcel('Liste des relevés solde bureau')">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white" (click)="exportPdf('Liste des relevés solde bureau')">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon" >
                                </button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- FORM FILTER -->
                        <div class="bg-white">
                            <form class="form-inline">
                                <div class="form-group col-3">
                                    <label for="account-type-1">{{ __('releve_solde_bureau.agence') }}(*)</label>
                                    <!-- POUR ADMIN -->
                                    <ng-container >
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>{{ __('releve_solde_bureau.agence') }}</mat-label>
                                            <mat-select [(ngModel)]="agenceId"> 
                                                <mat-option>
                                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                                </mat-option>
                                                <mat-option *ngFor="let agence of filteredBureau" value="{{ agence.rowid }}">{{ agence.name }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                </div>

                                <div class="form-group col-3">
                                    <label for="account-type-1">{{ __('suivi_compte.type_compte') }}(*)</label>
                                    <!-- POUR ADMIN -->
                                    <ng-container >
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>{{ __('suivi_compte.type_compte') }}</mat-label>
                                            <mat-select [(ngModel)]="typeCompte" name="typeCompte" id="typeCompte">
                                                <mat-option value="1">{{ __('global.carte') }}</mat-option>
                                                <mat-option value="0">{{ __('global.wallet') }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </ng-container>
                                </div>
                                
                                <div class="form-group col-2">
                                    <label for="dateFonction">{{ __('suivi_compte.from') }}(*)</label>
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerDebut" [(ngModel)]="dateDebut" placeholder="{{ __('global.select_date') }}" (focus)="pickerDebut.open()">
                                        <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerDebut></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                
                                <div class="form-group col-2">
                                    <label for="dateFonction">{{ __('suivi_compte.to') }}(*)</label>
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <input matInput [matDatepicker]="pickerFin" [(ngModel)]="dateFin" placeholder="{{ __('global.select_date') }}" (focus)="pickerFin.open()">
                                        <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerFin></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div  class="col-2">
                                    <button *ngIf="!loadingData" class="btn btn-primary w-100" color="primary" (click)="filtreTableau()" [disabled]="agenceId == undefined || typeCompte  == undefined || dateDebut == undefined || dateFin == undefined">{{ __('global.filter') }}</button>
                                    <button *ngIf="loadingData" class="btn btn-primary w-100" color="primary">
                                        <img src="assets/img/loading-spinner-button.gif" width="25px">
                                    </button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card"  [ngStyle]="{'display': showDataTable ? 'block' : 'none'}" >
                    <div class="card-body">
                     
                        <!--TABLE DATA-->
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal"
                                [formSearch] = "false"
                                [triDescDefault] = "'date_transaction'"
                                >
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

