<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button class="btn btn-secondary" *ngIf="autority('GBU_2')" (click)="openModalAdd(addbureau)"> {{ __("bureau.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addbureau>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" [formGroup]="bureauForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.code')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.code')}}" formControlName="code" name="code">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.name')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.name')}}" formControlName="name" name="name">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.responsable')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.responsable')}}" formControlName="responsable" name="responsable">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.adresse')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.adresse')}}" formControlName="adresse" name="adresse">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                   
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.email')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('bureau.email')}}" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.email_dr')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('bureau.email_dr')}}" formControlName="email_dr" name="email_dr">
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>
                

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('bureau.telephone')}} *</label>
                            <input type="text"
                                name="phone_client" 
                                
                                placeholder="{{formatTelephone}}"
                                autocomplete="off"
                                class="form-control form-icon-input"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                                ng2TelInput
                                [ng2TelInputOptions]="{
                                    allowDropdown: true,
                                    autoHideDialCode: false,
                                    autoPlaceholder: 'on',
                                    formatOnDisplay: true,
                                    hiddenInput: 'full_number',
                                    initialCountry: currenCode,
                                    nationalMode: false,
                                    preferredCountries: ['mg', 'sn'],
                                    separateDialCode: true,
                                    utilsScript: '../../assets/js/tel-utils.js' 
                                }"
                                formControlName="tel" #phone
                                (hasError)="onError($event)"
                                (ng2TelOutput)="getNumber($event)"
                                (intlTelInputObject)="telInputObject($event)"
                                (countryChange)="onCountryChange($event)"
                            >
                        </div>
                    </div>


                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('bureau.telephone_dr')}}</label>
                            <input type="text"
                                name="phone_dr" 
                                
                                placeholder="{{formatTelephone}}"
                                autocomplete="off"
                                class="form-control form-icon-input"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                                ng2TelInput
                                [ng2TelInputOptions]="{
                                    allowDropdown: true,
                                    autoHideDialCode: false,
                                    autoPlaceholder: 'on',
                                    formatOnDisplay: true,
                                    hiddenInput: 'full_number',
                                    initialCountry: currenCode,
                                    nationalMode: false,
                                    preferredCountries: ['mg', 'sn'],
                                    separateDialCode: true,
                                    utilsScript: '../../assets/js/tel-utils.js' 
                                }"
                                formControlName="telephone_dr" #phone_dr
                                (hasError)="onErrorDr($event)"
                                (ng2TelOutput)="getNumberDr($event)"
                                (intlTelInputObject)="telInputObjectDr($event)"
                                (countryChange)="onCountryChangeDr($event)"
                            >
                        </div>
                    </div>
                    
                   
                </div>

              
                <div class="row">

                  <!--   <div class="col-lg-4">
                        <div class="form-group">
                            <div class="mb-3">
                                <label class="mat-label">{{ __('bureau.rapatrie_auto') }} *</label>
                              
                                <mat-radio-group formControlName="rapatrie_auto">
                                  <mat-radio-button class="mr-3" value="O">{{ __("global.oui") }}</mat-radio-button>
                                  <mat-radio-button class="mr-3" value="N">{{ __("global.non") }}</mat-radio-button>
                                </mat-radio-group>
                              </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.solde_max_rapatrie')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.solde_max_rapatrie')}}"                         
                                oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                                 formControlName="solde_max_rapatrie" name="solde_max_rapatrie">
                            </mat-form-field>
                        </div>
                    </div> -->

                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('bureau.type_bureau')}}</mat-label>
                                <mat-select name="idtype_agence"    formControlName="idtype_agence" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let type of filteredTypeBureau" [value]="type.id"> {{ type.name }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('bureau.direct_general')}}</mat-label>
                                <mat-select name="direction"   (selectionChange)="recupererRegion($event)"  formControlName="direction_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let direction of filteredDirectionGenerals" [value]="direction.id">  {{ direction.libelle }} ({{ direction.code }}) </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                  
                </div>

                <div class="row">
                   

                   
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('bureau.region')}}</mat-label>
                                <mat-select name="region_id"  (selectionChange)="recupererDepartement($event)"   formControlName="region_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let region of filteredRegion" [value]="region.id"> {{ region.lib_region }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('bureau.departement')}}</mat-label>
                                <mat-select name="departement_id"    formControlName="departement_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let depart of filteredDepartement" [value]="depart.id"> {{ depart.name }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                  
                </div>

                <div class="row">
                   
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.latitude')}}</mat-label>
                                <input matInput type="text"  oninput="this.value = this.value.replace(/[^0-9.-]/g, '')" placeholder="{{ __('bureau.latitude')}}" formControlName="latitude" name="latitude">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('bureau.longitude')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('bureau.longitude')}}"  oninput="this.value = this.value.replace(/[^0-9.-]/g, '')" formControlName="longitude" name="longitude">
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>

                
                
               
                

               


              

                
                
                  

                
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!bureau.id" [disabled]="bureauForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="bureau.id" [disabled]="bureauForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>


<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailBureau>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <table style="width: 100%;">
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.code")}}</b></label>
                        <h6><b class="bold">{{  bureau.code }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.name")}}</b></label>
                        <h6><b class="bold">{{  bureau.name }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.type_bureau")}}</b></label>
                        <h6><b class="bold">{{  bureau.type_agence }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.responsable")}}</b></label>
                        <h6><b class="bold">{{  bureau.responsable }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.email")}}</b></label>
                        <h6><b class="bold">{{  bureau.email }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.email_dr")}}</b></label>
                        <h6><b class="bold">{{  bureau.email_dr }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.telephone")}}</b></label>
                        <h6><b class="bold">{{  bureau.tel }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.telephone_dr")}}</b></label>
                        <h6><b class="bold">{{  bureau.telephone_dr }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.adresse")}}</b></label>
                        <h6><b class="bold">{{  bureau.adresse }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.province")}}</b></label>
                        <h6><b class="bold">{{  bureau.province }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.solde")}}</b></label>
                        <h6><b class="bold">{{  bureau.solde }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.solde_carte")}}</b></label>
                        <h6><b class="bold">{{  bureau.solde_carte }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.rapatrie_auto")}}</b></label>
                        <h6><b class="bold">{{  bureau.rapatrie_auto == 0 ? __("global.non") : __("global.oui") }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.solde_max_rapatrie")}}</b></label>
                        <h6><b class="bold">{{  bureau.solde_max_rapatrie }}</b></h6>
                     </div>
                </td>
            </tr>

            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.latitude")}}</b></label>
                        <h6><b class="bold">{{  bureau.latitude }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.longitude")}}</b></label>
                        <h6><b class="bold">{{  bureau.longitude }}</b></h6>
                     </div>
                </td>
            </tr>


            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.user_creation")}}</b></label>
                        <h6><b class="bold">{{  bureau.user_creation }} <span class="bold">{{ __("bureau.le")}}</span>   {{  bureau.date_creation  }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.user_modification")}}</b></label>
                        <h6><b class="bold">{{  bureau.user_modification }}  <span class="bold">{{ __("bureau.le")}}</span>   {{  bureau.date_modification	 }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("bureau.state")}}</b></label>
                        <h6><b class="bold">{{  bureau.state }}</b></h6>
                     </div>
                </td>
                
            </tr>
           
        </table>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>

