<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button class="btn btn-secondary" *ngIf="autority('PRM_58')" (click)="openModalAdd(addutilisateur)"> {{ __("utilisateur.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addutilisateur>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('utilisateur.nom')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.nom')}}" formControlName="firstname" name="firstname">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('utilisateur.prenom')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.prenom')}}" formControlName="lastname" name="lastname">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('utilisateur.login')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.login')}}" formControlName="username" name="username">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('utilisateur.email')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('utilisateur.email')}}" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('utilisateur.telephone')}}</label>
                            <input type="text"
                                name="phone_client" 
                                
                                placeholder="{{formatTelephone}}"
                                autocomplete="off"
                                class="form-control form-icon-input"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                                ng2TelInput
                                [ng2TelInputOptions]="{
                                    allowDropdown: true,
                                    autoHideDialCode: false,
                                    autoPlaceholder: 'on',
                                    formatOnDisplay: true,
                                    hiddenInput: 'full_number',
                                    initialCountry: currenCode,
                                    nationalMode: false,
                                    preferredCountries: ['sn'],
                                    separateDialCode: true,
                                    utilsScript: '../../assets/js/tel-utils.js' 
                                }"
                                formControlName="phonenumber" #phone
                                (hasError)="onError($event)"
                                (ng2TelOutput)="getNumber($event)"
                                (intlTelInputObject)="telInputObject($event)"
                                (countryChange)="onCountryChange($event)"
                            >
                        </div>
                    </div>
                   
                   
                </div>

               
                
               
                

               


              

                
                
                  

                
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!utilisateur.id" [disabled]="utilisateurForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="utilisateur.id" [disabled]="utilisateurForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>


<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailUtilisateur>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <table style="width: 100%;">

            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.nom")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.firstname }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.prenom")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.lastname }}</b></h6>
                     </div>
                </td>
            </tr>

            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.email")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.email }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.telephone")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.phonenumber }}</b></h6>
                     </div>
                </td>
            </tr>

            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.user_creation")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.user_created  }} <span class="bold">{{ __("utilisateur.le")}}</span>   {{  utilisateur.created  }} </b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.user_modification")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.user_modified	 }} <span class="bold">{{ __("utilisateur.le")}}</span>   {{  utilisateur.modified	 }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.state")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.state == 1 ? __("global.activer") : __("global.desactiver") }}</b></h6>
                     </div>
                </td>
             
            </tr>


            
        </table>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>