@import "../../../../../../assets/scss/core/variables/_colors.scss";

.content-solde{
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0px 3px 3px #2e2e2e;
    width: 250px;
    margin: 10px;
    color: white;
    font-weight: 600;
}

#content-pm{
    background-color: #23232333;
}

#content-epkt{
    background-color: $secondary;
    color: $primary;
}

.left-content{
    padding: 10px;
    background: $primary;
    color: $white;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
}

.left-content:hover{
    background-color: $secondary;
}

.right-content{
    padding: 10px;
    background: $secondary;
    color: $primary;
    border-radius: 0px 5px 5px 0px;
}