<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button *ngIf="autority('GSP_8')" class="btn btn-secondary" (click)="openModalAdd(addproduit)"> {{ __("produit.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addproduit>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <mat-horizontal-stepper linear>

            <mat-step [stepControl]="firstFormGroup" >
                <ng-template matStepLabel >{{ __('produit.add_produit')}}</ng-template>
          
                <form #f="ngForm" [formGroup]="produitForm" >

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('produit.code')}}</mat-label>
                                    <input matInput type="text" [(ngModel)]="produit.code" placeholder="{{ __('produit.code')}}" formControlName="code" name="code">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('produit.dci')}}</mat-label>
                                    <input matInput type="text" [(ngModel)]="produit.dci" placeholder="{{ __('produit.dci')}}" formControlName="dci" name="dci">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('produit.nom_commercial')}}</mat-label>
                                    <input matInput type="text" [(ngModel)]="produit.nom_commercial" placeholder="{{ __('produit.nom_commercial')}}" formControlName="nom_commercial" name="nom_commercial">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('produit.dosage')}}</mat-label>
                                    <input matInput type="text" [(ngModel)]="produit.dosage" placeholder="{{ __('produit.dosage')}}" formControlName="dosage" name="dosage">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('produit.prix_unitaire')}}</mat-label>
                                    <input matInput type="text" [(ngModel)]="produit.prix_unitaire"   oninput="this.value = this.value.replace(/[^0-9]/g, '')" placeholder="{{ __('produit.prix_unitaire')}}" formControlName="prix_unitaire" name="prix_unitaire">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('produit.conditionnement')}}</mat-label>
                                    <input matInput type="text" [(ngModel)]="produit.conditionnement" placeholder="{{ __('produit.conditionnement')}}" formControlName="conditionnement" name="conditionnement">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('produit.description')}}</mat-label>
                                    <input matInput type="text" [(ngModel)]="produit.description" placeholder="{{ __('produit.description')}}" formControlName="description" name="description">
                                </mat-form-field>
                            </div>
                        </div>
                     
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group"> 
                                <mat-form-field appearance="fill">
                                    <mat-label>{{ __('produit.famille')}}</mat-label>
                                    <mat-select [(ngModel)]="produit.famille_produit_id" (selectionChange)="recupererCategorie($event)" name="famille_produit_id" formControlName="famille_produit_id" >
                                      <!-- Champ de recherche -->
                                      <mat-option>
                                        <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                      </mat-option>
                                  
                                      <!-- Affichage des options filtrées -->
                                      <mat-option *ngFor="let famille of filteredFamilles" [value]="famille.id"> {{ famille.nom }} </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
            
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> 
                                <mat-form-field appearance="fill">
                                    <mat-label>{{ __('produit.categorie')}}</mat-label>
                                    <mat-select [(ngModel)]="produit.categorie_produit_id" (selectionChange)="recupererSousCategorie($event)" name="categorie_produit_id" formControlName="categorie_produit_id" >
                                      <!-- Champ de recherche -->
                                      <mat-option>
                                        <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                      </mat-option>
                                  
                                      <!-- Affichage des options filtrées -->
                                      <mat-option *ngFor="let categorie of filteredCategories" [value]="categorie.id"> {{ categorie.nom }} </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group"> 
                                <mat-form-field appearance="fill">
                                    <mat-label>{{ __('produit.sous_categorie')}}</mat-label>
                                    <mat-select [(ngModel)]="produit.sous_categorie_produit_id" name="sous_categorie_produit_id" formControlName="sous_categorie_produit_id" >
                                      <!-- Champ de recherche -->
                                      <mat-option>
                                        <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                      </mat-option>
                                  
                                      <!-- Affichage des options filtrées -->
                                      <mat-option *ngFor="let sousCategorie of filteredSousCategories" [value]="sousCategorie.id"> {{ sousCategorie.nom }} </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
            
                            
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group"> 
                                <mat-form-field appearance="fill">
                                    <mat-label>{{ __('produit.forme')}}</mat-label>
                                    <mat-select [(ngModel)]="produit.forme_pharmaceutique_id" name="forme_pharmaceutique_id" formControlName="forme_pharmaceutique_id" >
                                      <!-- Champ de recherche -->
                                      <mat-option>
                                        <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                      </mat-option>
                                  
                                      <!-- Affichage des options filtrées -->
                                      <mat-option *ngFor="let forme of filteredFormes" [value]="forme.id"> {{ forme.nom }} </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
                    </div>
                    
                 
                    
                
    
                
                   
                   
    
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                    <button type="button" class="btn btn-primary" matStepperNext [disabled]="produitForm.invalid" *ngIf="!produit.id" >{{ __('global.next')}}</button>
                    <button type="button" class="btn btn-primary" (click)="onSubmit()" *ngIf="produit.id" >{{ __('global.edit')}}</button>
                </div>
                </form>
          
            </mat-step>
          
            <mat-step [stepControl]="secondFormGroup" *ngIf="isAdd">
                <ng-template matStepLabel>{{ __('produit.add_image')}}</ng-template>
          
                 <!-- Documents Section -->
                    <div class="text-primary mb-3">
                        <label class="form-label text-primary small mb-2">{{__('produit.select_image')}}</label>
                        <input type="file" #fileInput multiple (change)="onFilesSelected($event)" 
                            accept=".pdf,.jpg,.jpeg,.png" style="display: none;" />
                        
                        <div class="d-flex align-items-center gap-3">
                        <button type="button" class="btn btn-outline-primary"  [disabled]="uploadedFiles.length >= 4" (click)="fileInput.click()">
                            <i class="fa fa-plus me-2"></i> {{ __('global.add') }}
                        </button>
                        
                        <div *ngIf="uploadedFiles.length > 0" class="d-flex flex-wrap gap-3">

                            <div *ngFor="let f of uploadedFiles" class="position-relative" style="margin: 0 20px;">
                        
                            <!-- IMAGE PREVIEW -->
                            <img *ngIf="f.preview"
                                [src]="f.preview"
                                class="rounded border"
                                style="width: 120px; height: 120px; object-fit: cover;" />
                        
                            <!-- REMOVE ICON -->
                            <i class="fa fa-times-circle text-danger position-absolute"
                                style="top: -6px; right: -6px; cursor: pointer; font-size: 20px;"
                                (click)="removeFile(f)">
                            </i>
                        
                            </div>
                        
                        </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" matStepperPrevious>{{ __('global.back')}}</button>
                        <button type="button" class="btn btn-primary" matStepperNext *ngIf="uploadedFiles.length > 0" >{{ __('global.next')}}</button>
                    </div>

            </mat-step>

            <mat-step [stepControl]="threeFormGroup" *ngIf="isAdd">
                  <ng-template matStepLabel>{{ __('produit.fiche_technique')}}</ng-template>
            
                  
                     <!-- Documents Section -->
                    <div class="text-primary mb-3">
                        <input  type="file"
                                #fileInputPdf
                                (change)="onFilesPdfSelected($event)"
                                accept="application/pdf"
                                style="display: none;"
/>
                        
                        <div class="d-flex align-items-center gap-3">

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <mat-form-field>
                                            <mat-label>{{ __('produit.titre')}}</mat-label>
                                            <input matInput type="text" [(ngModel)]="titre_fiche" placeholder="{{ __('produit.titre')}}" name="titre">
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label class="form-label text-primary small mb-2">{{__('produit.selection_fiche')}}</label>

                                    <button type="button" class="btn btn-outline-primary"  [disabled]="uploadedFilesPdf.length === 1" (click)="fileInputPdf.click()">
                                        <i class="fa fa-plus me-2"></i> {{ __('global.add') }}
                                    </button>
                                </div>
                            </div>
                          

                       
                        
                        <div *ngIf="uploadedFilesPdf.length > 0" class="d-flex flex-wrap gap-3">

                            <div *ngFor="let f of uploadedFilesPdf" class="position-relative" style="margin: 0 20px;">

                                <!-- PDF ICON -->
                                <div
                                  class="d-flex flex-column align-items-center justify-content-center"
                                  style="width: 120px; height: 120px;"
                                >
                                  <i class="fa fa-file-pdf-o text-danger" style="font-size: 48px;"></i>
                                  <small class="text-center mt-2">{{ f.name }}</small>
                                </div>
                              
                                <!-- REMOVE ICON -->
                                <i
                                  class="fa fa-times-circle text-danger position-absolute"
                                  style="top: -6px; right: -6px; cursor: pointer; font-size: 20px;"
                                  (click)="removeFilePdf(f)">
                                </i>
                              
                              </div>
                        
                        </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" matStepperPrevious>{{ __('global.back')}}</button>
                        <button type="button" class="btn btn-primary" (click)="onSubmit()" *ngIf="uploadedFilesPdf.length > 0 && titre_fiche" >{{ __('global.save')}}</button>
                    </div>
  
              </mat-step>
          
          </mat-horizontal-stepper>




       
    </div>
</ng-template>




<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailproduit>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <mat-tab-group>
            <mat-tab label="Informations du produit">
              <br />
      
                <table style="width: 100%;">

                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.code")}}</b></label>
                                <h6><span class="bold">{{  produit.code }}</span></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.dci")}}</b></label>
                                <h6><b class="bold">{{  produit.dci }}</b></h6>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.nom_commercial")}}</b></label>
                                <h6><b class="bold">{{  produit.nom_commercial }}</b></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.prix_unitaire")}}</b></label>
                                <h6><b class="bold">{{  produit.prix_unitaire }}</b></h6>
                            </div>
                        </td>
                      
                    </tr>

                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.conditionnement")}}</b></label>
                                <h6><b class="bold">{{  produit.conditionnement }}</b></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.forme")}}</b></label>
                                <h6><b class="bold">{{  produit.forme }}</b></h6>
                            </div>
                        </td>
                       
                    </tr>

                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.dosage")}}</b></label>
                                <h6><b class="bold">{{  produit.dosage }}</b></h6>
                            </div>
                        </td>
                     
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.sous_categorie")}}</b></label>
                                <h6><b class="bold">{{  produit.sous_categorie }}</b></h6>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("produit.description")}}</b></label>
                                <h6><b class="bold">{{  produit.description }}</b></h6>
                            </div>
                        </td>
                       
                    </tr>
        
                
            
                </table>
            </mat-tab>

            <mat-tab label="Images">
                <br />

                <div class="text-primary mb-3" *ngIf="produit?.images?.length < 4">
                    <label class="form-label text-primary small mb-2" >{{__('produit.select_one_image')}}</label>
                    <input type="file" #fileInput (change)="onFilesSelectedAdd($event)" 
                        accept=".pdf,.jpg,.jpeg,.png" style="display: none;" />
                    
                    <div class="d-flex align-items-center gap-3">
                    <button type="button" class="btn btn-outline-primary"  [disabled]="produit?.images?.length == 4" (click)="fileInput.click()">
                        <i class="fa fa-plus me-2"></i> {{ __('global.add') }}
                    </button>
                    
                    <div *ngIf="uploadedOneFiles.length != 0" class="d-flex flex-wrap gap-3">

                        <div *ngFor="let f of uploadedOneFiles" class="position-relative" style="margin: 0 20px;">
                    
                        <!-- IMAGE PREVIEW -->
                        <img *ngIf="f.preview"
                            [src]="f.preview"
                            class="rounded border"
                            style="width: 120px; height: 120px; object-fit: cover;" />
                    
                        <!-- REMOVE ICON -->
                        <i class="fa fa-times-circle text-danger position-absolute"
                            style="top: -6px; right: -6px; cursor: pointer; font-size: 20px;"
                            (click)="removeFile(f)">
                        </i>
                    
                        </div>

                        <div>
                            <button type="button" class="btn btn-primary" (click)="addImage(produit.id, 2)" >{{ __('global.save')}}</button> <br>
                            <button type="button" class="btn btn-secondary" (click)="annulerImage()" >{{ __('global.back')}}</button>
                        </div>
                    
                    </div>
                    </div>

                    <hr>
                    
                </div>

        
                <div class="row" *ngIf="produit?.images?.length != 0">

                  

                    <div class="col-lg-2 text-center d-flex flex-column align-items-center" *ngFor="let document of produit.images">
  
                        <img
                          [src]="document.url"
                          *ngIf="
                            document.url.split('.').pop() == 'jpeg' ||
                            document.url.split('.').pop() == 'png' ||
                            document.url.split('.').pop() == 'jpg' ||
                            document.url.split('.').pop() == 'svg'
                          "
                          style="width: 100px"
                        />
                      
                        <div>
                          <i class="fa fa-download fa-2x icon-img"
                             (click)="downloadDirect(document.url)"
                             tooltip="{{ __('tooltip.download') }}"></i>
                      
                            <i class="fa fa-trash fa-2x icon-img"
                             style="color: red; cursor: pointer;"
                             (click)="openModalDeleteImageproduit(document.id)"></i>
                        </div>


                      
                      </div>
                </div>
        
                <div class="row" *ngIf="produit?.images?.length == 0">
                  <div class="col-lg-9">
                    <div class="alert alert-custom">
                      <h6>
                        <span >{{ __("global.aucun_document") }}</span>
                      </h6>
                    </div>
                  </div>
                </div>
                <div></div>
              </mat-tab>
              <mat-tab label="Fiche technique">
                <br />
        
                <div class="row" *ngIf="produit.fiche != null">
                  <div class="col-lg-2  text-center d-flex flex-column align-items-center">
                    <div
                    class="d-flex flex-column align-items-center justify-content-center"
                    style="width: 120px; height: 120px;"
                  >
                    <i class="fa fa-file-pdf-o text-danger" style="font-size: 48px;"></i>
                    <small class="text-center mt-2">{{ produit.fiche?.titre }}</small>
                  </div>
                
        
                    <div class="col-lg-4 img-detail d-flex justify-content-center">
                                       
                      <i class="fa fa-download fa-2x icon-img"   (click)="downloadDirect(produit.fiche?.url_document)" tooltip="{{ __('tooltip.download') }}"></i>
                      <i class="fa fa-trash fa-2x icon-img"  style="color: red;" (click)="openModalDeleteFicheproduit(produit.fiche?.id)" ></i>
                    </div>
                  </div>
                </div>

                <div class="row" *ngIf="produit.fiche == null">
                    <div class="col-lg-9">
                      <div class="alert alert-custom">
                        <h6>
                          <b class="bold">{{ __("global.aucun_document") }}</b>
                        </h6>
                      </div>
                    </div>
                  </div>
        
             
                <div></div>
              </mat-tab>


      
                   
          </mat-tab-group>


      

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>
