<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button *ngIf="autority('PAC_33')" class="btn btn-secondary" (click)="openModalAdd(addstructure)"> {{ __("structure.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addstructure>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="structureForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('structure.code')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('structure.code')}}" formControlName="code" name="code">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('structure.nom')}}</mat-label>
                                <input matInput type="text" placeholder="{{ __('structure.nom')}}" formControlName="nom" name="nom">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('structure.email')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('structure.email')}}" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('structure.telephone')}}</label>


                            <ngx-intl-tel-input
                            formControlName="telephone"
                            [preferredCountries]="['sn','mg']"
            
                            [enableAutoCountrySelect]="true"
                            [enablePlaceholder]="true">
                          </ngx-intl-tel-input>

                        </div>
                    </div>

                    
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('structure.adresse')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.adresse')}}" formControlName="adresse" name="adresse">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('structure.budget_alloue')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('structure.budget_alloue')}}" oninput="this.value = this.value.replace(/[^0-9]/g, '')" formControlName="budget_alloue" name="budget_alloue">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('utilisateur.type_structure')}}</mat-label>
                                <mat-select name="type_structure_id"   formControlName="type_structure_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let type of filteredType" [value]="type.id"> {{ type.nom }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('utilisateur.district')}}</mat-label>
                                <mat-select  name="district_sanitaire_id" formControlName="district_sanitaire_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let district of filteredDistrict" [value]="district.id"> {{ district.nom }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>

                   
                </div>
               

               

                

                
               
               
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!structure.id" [disabled]="structureForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="structure.id" [disabled]="structureForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>




<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailstructure>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <mat-tab-group>
            <mat-tab label="Information du structure">
              <br />




              <div class="so-surface mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.code")}}</div>
                            <div class="so-v">{{ structure.code  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.email")}}</div>
                            <div class="so-v">{{ structure.email  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.adresse")}}</div>
                            <div class="so-v">{{ structure.adresse  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.type")}}</div>
                            <div class="so-v">{{ structure.type_structure_nom  }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.nom")}}</div>
                            <div class="so-v">{{ structure.nom  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.telephone")}}</div>
                            <div class="so-v">{{ structure.telephone  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.budget_alloue")}}</div>
                            <div class="so-v">{{  formatNumber(structure?.budget_alloue, ' ')  }}</div>
                        </div>
                        <div class="so-kv">
                            <div class="so-k">{{ __("structure.district")}}</div>
                            <div class="so-v">{{ structure.district_sanitaire_nom  }}</div>
                        </div>
                    </div>
                </div>
            </div>

      
            </mat-tab>


            <!-- <mat-tab label="Liste des catégories">
                <br />
        
                <div class="categories-container">
                    <div class="categorie-card" *ngFor="let categorie of famille.categories">
                      <b class="gras">{{ categorie.code }}</b><br>
                      {{ categorie.nom }}
                
                      <div class="sous-categories" *ngIf="categorie.sous_categories.length > 0">
                        <div class="sous-categorie" *ngFor="let sous of categorie.sous_categories">
                          {{ sous.code }} - {{ sous.nom }}
                        </div>
                      </div>
                    </div>
                  </div>
              </mat-tab> -->
      
                   
          </mat-tab-group>


      

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>
