<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button *ngIf="autority('GSP_3')" class="btn btn-secondary" (click)="openModalAdd(addFamille)"> {{ __("famille.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addFamille>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" [formGroup]="familleForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>{{ __('famille.code')}}</mat-label>
                        <input matInput type="text" maxlength="2" [(ngModel)]="famille.code" placeholder="{{ __('famille.code')}}" formControlName="code" name="code">
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>{{ __('famille.nom')}}</mat-label>
                        <input matInput type="text" [(ngModel)]="famille.nom" placeholder="{{ __('famille.nom')}}" formControlName="nom" name="nom">
                    </mat-form-field>
                </div>
               
               
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!famille.id" [disabled]="familleForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="famille.id" [disabled]="familleForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>



<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailFamille>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <mat-tab-group>
            <mat-tab label="Information du famille">
              <br />
      
                <table style="width: 100%;">

                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("famille.code")}}</b></label>
                                <h6><b class="bold">{{  famille.code }}</b></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("famille.nom")}}</b></label>
                                <h6><b class="bold">{{  famille.nom }}</b></h6>
                            </div>
                        </td>
                    </tr>
        
                
            
                </table>
            </mat-tab>


            <mat-tab label="Liste des catégories">
                <br />

                <mat-accordion>
                
                    <mat-expansion-panel *ngFor="let categorie of famille.categories">
                
                    <mat-expansion-panel-header>
                        <div class="panel-header ">
                
                        <div class="col name">
                            <label><b class="fw-800">{{ __("famille.categorie")}}</b></label>
                            <h6><b class="bold">{{categorie.nom}} ({{categorie.code}})</b></h6>
                        </div>
                      
                
                        </div>
                    </mat-expansion-panel-header>
                    <br>
                    <div class="details" *ngIf="categorie.sous_categories.length > 0">
                        <table style="width: 100%;">

                            <tr *ngFor="let sous of categorie.sous_categories">
                                <td >
                                    <div class="alert alert-custom">
                                        <label><b class="fw-800">{{ __("famille.sous_categorie")}}</b></label>
                                        <h6><b class="bold">{{  sous.nom }} ({{  sous.code }})</b></h6>
                                    </div>
                                </td>
                                                           
                            </tr>
        
                          
                     
                        
                    
                        </table>
                    </div>
                
                    </mat-expansion-panel>

              
                
                </mat-accordion>



        
                <div class="categories-container">
                    <div class="categorie-card" *ngFor="let categorie of famille.categories">
                      <b class="gras">{{ categorie.code }}</b><br>
                      {{ categorie.nom }}
                
                      <!-- Sous-catégories -->
                      <div class="sous-categories" *ngIf="categorie.sous_categories.length > 0">
                        <div class="sous-categorie" *ngFor="let sous of categorie.sous_categories">
                          {{ sous.code }} - {{ sous.nom }}
                        </div>
                      </div>
                    </div>
                  </div>
              </mat-tab>
      
                   
          </mat-tab-group>


      

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>