<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button class="btn btn-secondary" *ngIf="autority('GSU_8')" (click)="openModalAdd(addutilisateur)"> {{ __("utilisateur.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addutilisateur>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('utilisateur.nom')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.nom')}}" formControlName="nom" name="nom">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('utilisateur.prenom')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.prenom')}}" formControlName="prenoms" name="prenom">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('utilisateur.telephone')}}</label>


                            <ngx-intl-tel-input
                            formControlName="telephone"
                            [preferredCountries]="['sn','mg']"
            
                            [enableAutoCountrySelect]="true"
                            [enablePlaceholder]="true">
                          </ngx-intl-tel-input>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('utilisateur.email')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('utilisateur.email')}}" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>

                <div class="row">
                 
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('utilisateur.profil')}}</mat-label>
                                <mat-select name="profil_id" formControlName="profil_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let profil of filteredProfils" [value]="profil.id"> {{ profil.name }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('utilisateur.district')}}</mat-label>
                                <mat-select  name="district_sanitaire_id" formControlName="district_sanitaire_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let district of filteredDistrict" [value]="district.id"> {{ district.nom }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                   
                </div>

              <!--   <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('utilisateur.type_structure')}}</mat-label>
                                <mat-select name="type_structure_id"   (selectionChange)="recupererStructure($event)" formControlName="type_structure_id" >
                                  <!-- Champ de recherche --
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées --
                                  <mat-option *ngFor="let type of filteredType" [value]="type.id"> {{ type.nom }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('utilisateur.structure')}}</mat-label>
                                <mat-select  name="structure_sanitaire_id" formControlName="structure_sanitaire_id" >
                                  <!-- Champ de recherche --
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées --
                                  <mat-option *ngFor="let structure of filteredStructure" [value]="structure.id"> {{ structure.nom }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </div> -->

                <div class="row">
          
                  
                </div>
                
                
               
                

               


              

                
                
                  

                
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!utilisateur.id" >{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="utilisateur.id" [disabled]="utilisateurForm.invalid">{{ __('global.valider')}}</button>
            </div>
        </form>
    </div>
</ng-template>


<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailUtilisateur>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <table style="width: 100%;">

            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.nom")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.nom }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.prenom")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.prenoms }}</b></h6>
                     </div>
                </td>
            </tr>

            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.email")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.email }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.telephone")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.telephone }}</b></h6>
                     </div>
                </td>
            </tr>

            <tr>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.profil")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.profil_name }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.district")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.district_sanitaire_nom }}</b></h6>
                     </div>
                </td>
            </tr>
            <tr>
           
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.identifiant")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.identifiant }}</b></h6>
                     </div>
                </td>
                <td >
                    <div class="alert alert-custom">
                        <label><b class="fw-800">{{ __("utilisateur.state")}}</b></label>
                        <h6><b class="bold">{{  utilisateur.state == 1 ? __("global.activer") : __("global.desactiver") }}</b></h6>
                     </div>
                </td>
            </tr>

         

            <tr>
               
               
            </tr>


     
        </table>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>