<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-primary">
            <div class="button-container">
              <div class="left-button"></div>
              <div class="right-button">
                <button
                  class="btn btn-secondary export-btn excel text-white"
                  (click)="exportExcel()"
                >
                  {{ __("global.export_excel") }}
                  <img
                    src="assets/img/icons8-export-excel-48.png"
                    alt="Excel Icon"
                  />
                </button>
                <button
                  class="btn btn-secondary export-btn pdf text-white"
                  (click)="exportPdf()"
                >
                  {{ __("global.export_pdf") }}
                  <img src="assets/img/pdf.jpeg" alt="PDF Icon" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-content-center">
              <div class="form-group col-2">
                <label for="dateFonction">{{ __("suivi_compte.from") }}</label>
                <mat-form-field appearance="fill" style="width: 100%">
                  <input
                    matInput
                    [matDatepicker]="pickerDebut"
                    [(ngModel)]="dateDebut"
                    placeholder="{{ __('global.select_date') }}"
                    (focus)="pickerDebut.open()"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerDebut"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerDebut></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group col-2">
                <label for="dateFonction">{{ __("suivi_compte.to") }}</label>
                <mat-form-field appearance="fill" style="width: 100%">
                  <input
                    matInput
                    [matDatepicker]="pickerFin"
                    [(ngModel)]="dateFin"
                    placeholder="{{ __('global.select_date') }}"
                    (focus)="pickerFin.open()"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerFin"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerFin></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group col-2 align-self-center">
                <button
                  class="btn btn-primary"
                  (click)="filtreTableau(etatSelect)"
                  style="width: 100%"
                >
                  {{ __("global.filter") }}
                </button>
              </div>
            </div>
            <mat-tab-group (selectedTabChange)="onTabChanged($event)">
              <mat-tab
                label="{{ __('ordre_virement.personne_physique') }}"
              ></mat-tab>
              <mat-tab
                label="{{ __('ordre_virement.personne_morale') }}"
              ></mat-tab>
            </mat-tab-group>

            <div class="table-responsive">
              <app-table
                [endpoint]="endpoint"
                [headerTable]="header"
                [body]="objetBody"
                [listIcon]="listIcon"
                [formSearch]="false"
                [searchGlobal]="searchGlobal"
                [triDescDefault]="'date_creation'"
              >
              </app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<!-- Modal avec Material Design -->
<ng-template #detailCompte>
  <div class="modal-header btn-primary">
    <h5 class="modal-title" id="myModalLabel">
      <b> {{ titleModal }}</b>
    </h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-tab-group>
      <mat-tab label="Information de l'autre demande">
        <table style="width: 100%">
          <tr>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.num_compte") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.numcompte }}</b>
                </h6>
              </div>
            </td>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.reference") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.reference }}</b>
                </h6>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.nom") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.nom_beneficiaire }}</b>
                </h6>
              </div>
            </td>
            <td *ngIf="etatSelect == 0">
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.prenom") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.prenom_beneficiaire }}</b>
                </h6>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.email") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.email }}</b>
                </h6>
              </div>
            </td>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.telephone") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.telephone }}</b>
                </h6>
              </div>
            </td>
          </tr>

          <tr>
            <td *ngIf="demande.state == 1">
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.nom_traiteur") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.nom_traiteur }}</b>
                </h6>
              </div>
            </td>
            <td *ngIf="demande.state == 1">
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{
                    __("demande.prenom_traiteur")
                  }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.prenom_traiteur }}</b>
                </h6>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.description") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.description }}</b>
                </h6>
              </div>
            </td>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.motif") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.motif_titre }}</b>
                </h6>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.date_demande") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.date_creation | date : "dd/MM/yy HH:mm:ss"}}</b>
                </h6>
              </div>
            </td>
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{ __("demande.state") }}</b></label
                >
                <h6>
                  <b class="bold">{{ demande.etat_name }}</b>
                </h6>
              </div>
            </td>
          </tr>

          <tr *ngIf="demande.state == 1">
            <td>
              <div class="alert alert-custom">
                <label
                  ><b class="fw-800">{{
                    __("demande.date_modification")
                  }}</b></label
                >
                <h6>
                  <b class="bold">{{
                    demande.date_modification | date : "dd/MM/yy HH:mm:ss"
                  }}</b>
                </h6>
              </div>
            </td>
          </tr>
        </table>
      </mat-tab>

      <mat-tab label="Documents">
        <br />

        <div class="row" *ngIf="documents.length != 0">
          <div class="col-lg-4" *ngFor="let document of documents">
            <img
              [src]="document.name"
              *ngIf="
                document.name.split('.').pop() == 'jpeg' ||
                document.name.split('.').pop() == 'png' ||
                document.name.split('.').pop() == 'jpg' ||
                document.name.split('.').pop() == 'svg'
              "
              style="width: 100px"
            />
            <img
              src="assets/img/pdf.jpeg"
              *ngIf="document.name.split('.').pop() == 'pdf'"
              style="width: 100px"
            />
            <img
              src="assets/img/doc.jpeg"
              *ngIf="
                document.name.split('.').pop() == 'doc' ||
                document.name.split('.').pop() == 'docx' ||
                document.name.split('.').pop() == 'xlsx'
              "
              style="width: 100px"
            />
            <img
              src="assets/img/txt.png"
              *ngIf="document.name.split('.').pop() == 'txt'"
              style="width: 100px"
            />

            <div class="col-lg-4 img-detail">
              <button
                #btnDownload
                class="btn btn-sm btn-success"
                type="button"
                (click)="downloadDirect(document.name)"
                tooltip="{{ __('tooltip.download') }}"
              >
                <i class="fa fa-download fa-2x colorThemePrimary"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="documents.length == 0">
          <div class="col-lg-9">
            <div class="alert alert-custom">
              <h6>
                <b class="bold">{{ __("demande.aucun_document") }}</b>
              </h6>
            </div>
          </div>
        </div>
        <div></div>
      </mat-tab>
    </mat-tab-group>

    <div class="modal-footer">
      <button
        type="button"
        *ngIf="(demande.etat == 1 || demande.etat == 2) && autority('DEM_2')"
        [disabled]="isDisabled"
        style="background-color: rgb(92, 184, 92)"
        class="btn btn-primary"
        (click)="traiterDemande(4)"
      >
        {{ __("global.traiter") }}
      </button>
      <button
        type="button"
        *ngIf="(demande.etat == 1 || demande.etat == 2) && autority('DEM_2')"
        style="background-color: rgb(217, 83, 79)"
        [disabled]="isDisabled"
        class="btn btn-primary"
        (click)="traiterDemande(3)"
      >
        {{ __("global.rejeter") }}
      </button>
      <button
        type="button"
        *ngIf="demande.etat == 1 && autority('DEM_2')"
        [disabled]="isDisabled"
        class="btn btn-primary"
        (click)="traiterDemande(2)"
      >
        {{ __("global.en_attente") }}
      </button>
      <button
        type="button"
        *ngIf="demande.etat == 0 && autority('DEM_2')"
        [disabled]="isDisabled"
        class="btn btn-primary"
        (click)="traiterDemande(1)"
      >
        {{ __("global.encours_traitement") }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        {{ __("global.cancel") }}
      </button>
    </div>
  </div>
</ng-template>
