<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button *ngIf="autority('PAC_21')" class="btn btn-secondary" (click)="openModalAdd(adddistrict)"> {{ __("district.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #adddistrict>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="districtForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('district.code')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('district.code')}}" formControlName="code" name="code">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('district.nom')}}</mat-label>
                                <input matInput type="text" placeholder="{{ __('district.nom')}}" formControlName="nom" name="nom">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('district.email')}}</mat-label>
                                <input matInput type="email"  placeholder="{{ __('district.email')}}" formControlName="email" name="email">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('district.responsable')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('district.responsable')}}" formControlName="responsable" name="responsable">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="dateFonction">{{ __('district.telephone')}}</label>


                            <ngx-intl-tel-input
                            formControlName="telephone"
                            [preferredCountries]="['sn','mg']"
            
                            [enableAutoCountrySelect]="true"
                            [enablePlaceholder]="true">
                          </ngx-intl-tel-input>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>{{ __('district.fax')}}</mat-label>
                                <input matInput type="text"  placeholder="{{ __('utilisateur.fax')}}" formControlName="fax" name="fax">
                            </mat-form-field>
                        </div>
                    </div>
                    
                </div>
              
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group"> 
                            <mat-form-field appearance="fill">
                                <mat-label>{{ __('district.region')}}</mat-label>
                                <mat-select name="region_id" formControlName="region_id" >
                                  <!-- Champ de recherche -->
                                  <mat-option>
                                    <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                                  </mat-option>
                              
                                  <!-- Affichage des options filtrées -->
                                  <mat-option *ngFor="let region of filteredRegions" [value]="region.id"> {{ region.nom }} </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
               

               

                

                
               
               
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!district.id" [disabled]="districtForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="district.id" [disabled]="districtForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>




<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detaildistrict>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <mat-tab-group>
            <mat-tab label="Information du district">
              <br />
      
                <table style="width: 100%;">

                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("district.code")}}</b></label>
                                <h6><b class="bold">{{  district.code }}</b></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("district.nom")}}</b></label>
                                <h6><b class="bold">{{  district.nom }}</b></h6>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("district.email")}}</b></label>
                                <h6><b class="bold">{{  district.email }}</b></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("district.responsable")}}</b></label>
                                <h6><b class="bold">{{  district.responsable }}</b></h6>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("district.telephone")}}</b></label>
                                <h6><b class="bold">{{  district.telephone }}</b></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("district.fax")}}</b></label>
                                <h6><b class="bold">{{  district.fax }}</b></h6>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("district.region")}}</b></label>
                                <h6><b class="bold">{{  district.region }}</b></h6>
                            </div>
                        </td>
                       
                    </tr>
        
                
            
                </table>
            </mat-tab>


            <!-- <mat-tab label="Liste des catégories">
                <br />
        
                <div class="categories-container">
                    <div class="categorie-card" *ngFor="let categorie of famille.categories">
                      <b class="gras">{{ categorie.code }}</b><br>
                      {{ categorie.nom }}
                
                      <div class="sous-categories" *ngIf="categorie.sous_categories.length > 0">
                        <div class="sous-categorie" *ngFor="let sous of categorie.sous_categories">
                          {{ sous.code }} - {{ sous.nom }}
                        </div>
                      </div>
                    </div>
                  </div>
              </mat-tab> -->
      
                   
          </mat-tab-group>


      

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>
