@import "../../../../../../assets/scss/core/variables/_colors.scss";

.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-container {
    transition: all 0.3s ease;
    margin: 0 10px;
}
.form-container:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.form-title {
    margin-bottom: 15px;
    color: #495057;
}
.btn-submit {
    transition: all 0.3s ease;
}

.content-solde{
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0px 3px 3px #2e2e2e;
    width: 250px;
    margin: 10px;
    color: white;
    font-weight: 600;
}

#content-pm{
    background-color: #23232333;
}

#content-epkt{
    background-color: $secondary;
    color: $primary;

}

#content-epkt{
    background-color: $secondary;
}

table{
    font-size: 12px;
    font-weight: 300;
}

thead{
    background-color: $primary;
    color: white;
}
.table thead tr th{
    font-size: 12px;
    font-weight: 400;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    /* Optionnel, pour délimiter la zone */
}


.export-btn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

.export-btn img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}

.excel {
    border-color: #0b7238;
    background-color: #0b7238;
    font-weight: bold;
}

.pdf {
    border-color: #b41d01;
    background-color: #b41d01;
    font-weight: bold;
}

