<div class="main-content">
  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-primary">
            <div class="button-container">
              <div class="left-buttons"></div>
              <div class="right-button"></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <app-table
                [endpoint]="endpoint"
                [headerTable]="header"
                [body]="objetBody"
                [listIcon]="listIcon"
                [searchGlobal]="searchGlobal"
                [typeFormatters]="tableTypeFormatters"
                [typeStyleResolvers]="tableTypeStyleResolvers">
              </app-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL détails -->
<ng-template #detailsoumission>
  <div class="modal-header btn-primary">
    <h5 class="modal-title" id="myModalLabel"><b>{{ titleModal }}</b></h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="soumission as s">
    <mat-tab-group class="so-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-info-circle mr-2"></i>{{ __('soumissions.tab_information') }}
        </ng-template>
        <br />
        <div class="so-surface">
          <div class="row">
            <div class="col-md-6">
              <div class="so-kv">
                <div class="so-k">{{ __('soumissions.reference') }}</div>
                <div class="so-v">{{ s.reference || '-' }}</div>
              </div>

              <div class="so-kv">
                <div class="so-k">{{ __('soumissions.fournisseur') }}</div>
                <div class="so-v">{{ s.fournisseur || '-' }}</div>
              </div>

              <div class="so-kv">
                <div class="so-k">{{ __('soumissions.montant') }}</div>
                <div class="so-v so-v-amount">{{ s.montant || '-' }} <small *ngIf="__('global.currency')">{{ __('global.currency') }}</small></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="so-kv">
                <div class="so-k">{{ __('soumissions.statut') }}</div>
                <div class="so-v">
                  <span class="so-status-badge" [ngClass]="getSoumissionStatusBadgeClass(s.statut)">
                    {{ getSoumissionStatusLabel(s.statut) }}
                  </span>
                </div>
              </div>

              <div class="so-kv">
                <div class="so-k">{{ __('soumissions.pays') }}</div>
                <div class="so-v">{{ s.fournisseur_pays || '-' }}</div>
              </div>

              <div class="so-kv">
                <div class="so-k">{{ __('soumissions.date_soumission') }}</div>
                <div class="so-v">{{ s.date_soumission ? (s.date_soumission | date: 'dd/MM/yyyy HH:mm') : '-' }}</div>
              </div>

              <div class="so-kv">
                <div class="so-k">{{ __('soumissions.delai') }}</div>
                <div class="so-v">{{ s.delai || '-' }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="so-section-title">{{ __('soumissions.section_appel_offre') }}</div>
        <div class="so-surface" *ngIf="s.appel_offre; else noAO">
          <div class="row">
            <div class="col-md-6">
              <div class="so-kv">
                <div class="so-k">{{ __('appel_offres.reference') }}</div>
                <div class="so-v">
                  <a href="javascript:void(0)" class="so-link" (click)="openAppelOffre(s.appel_offre?.id)">
                    {{ s.appel_offre?.reference || '-' }}
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="so-kv">
                <div class="so-k">{{ __('appel_offres.date_limite_soumission') }}</div>
                <div class="so-v">{{ s.appel_offre?.date_limite_soumission ? (s.appel_offre?.date_limite_soumission | date: 'dd/MM/yyyy') : '-' }}</div>
              </div>
            </div>
          </div>

          <div class="so-kv mt-2">
            <div class="so-k">{{ __('appel_offres.titre') }}</div>
            <div class="so-v">{{ s.appel_offre?.titre || '-' }}</div>
          </div>
        </div>
        <ng-template #noAO>
          <div class="so-surface">
            <div class="so-empty">{{ __('table.aucun_donnee') }}</div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-cube mr-2"></i>{{ __('soumissions.tab_lignes') }}
        </ng-template>
        <br />
        <div class="ao-surface mt-2" *ngIf="s.lignes?.length; else noLines">
          <div class="table-responsive">
            <table class="table ao-lines-table">
              <thead class="ao-lines-thead">
                <tr>
                  <th>{{ __('soumissions.designation') }}</th>
                  <th class="text-right">{{ __('soumissions.qte_proposee') }}</th>
                  <th class="text-right">{{ __('soumissions.prix_unitaire_propose') }}</th>
                  <th class="text-right">{{ __('soumissions.total') }}</th>
                </tr>
              </thead>
              <tbody class="ao-lines-tbody">
                <tr *ngFor="let l of s.lignes">
                  <td>{{ l.ligne_appel_offre?.designation || '-' }}</td>
                  <td class="text-right">{{ l.quantite_proposee }}</td>
                  <td class="ao-qty">{{ l.prix_unitaire_propose }}</td>
                  <td class="ao-qty">{{ l.montant_ligne }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #noLines>
          <p>{{ __('table.aucun_donnee') }}</p>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-paperclip mr-2"></i>{{ __('soumissions.tab_documents') }}
        </ng-template>
        <br />
        <ng-container *ngIf="getDocuments(s) as docs">
          <div class="so-doc-count">{{ docs.length }} {{ __('soumissions.documents_soumis') }}</div>

          <div class="so-doc-list" *ngIf="docs.length; else noDocs">
            <div class="so-doc-item" *ngFor="let d of docs">
              <div class="so-doc-left">
                <div class="so-doc-ico">
                  <i [class]="getDocIconClass(d.type_document)"></i>
                </div>
                <div class="so-doc-name">{{ d.nom_fichier || '-' }}</div>
              </div>

              <div class="so-doc-mid">
                <span class="so-doc-type" [ngClass]="getDocTypeClass(d.type_document)">
                  {{ (d.type_document || '-') | uppercase }}
                </span>
                <span class="so-doc-date">
                  {{ d.date_creation ? (d.date_creation | date: 'dd/MM/yyyy') : '-' }}
                </span>
              </div>

              <div class="so-doc-right">
                <a class="so-doc-download" [href]="d.url" target="_blank" rel="noopener">
                  <i class="fa fa-download mr-2"></i>{{ __('soumissions.telecharger') }}
                </a>
              </div>
            </div>
          </div>

          <ng-template #noDocs>
            <div class="so-surface">
              <div class="so-empty">{{ __('soumissions.no_documents') }}</div>
            </div>
          </ng-template>
        </ng-container>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-balance-scale mr-2"></i>{{ __('soumissions.tab_evaluation') }}
        </ng-template>
        <br />
        <p>{{ __('soumissions.feature_future') }}</p>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="fa fa-history mr-2"></i>{{ __('soumissions.tab_historique') }}
        </ng-template>
        <br />
        <div class="so-timeline" *ngIf="s.historiques?.length; else noHistorique">
          <div class="so-timeline-item" *ngFor="let h of s.historiques">
            <div class="so-dot" [ngClass]="getSoumissionStatusDotClass(h.nouveau_statut)"></div>
            <div class="so-timeline-content mt-2">
              <div class="so-timeline-title">{{ h.action || '-' }}</div>
              <div class="so-timeline-meta">
               <span *ngIf="h.created_at">
                 {{ h.created_at ? (h.created_at) : '-' }}
               </span>
                <span class="mx-1">•</span>
                {{ __('soumissions.par') }} : <span class="so-muted">{{ getHistoriqueUserLabel(h) }}</span>
              </div>
            </div>
          </div>
        </div>
        <ng-template #noHistorique>
          <div class="so-surface">
            <div class="so-empty">{{ __('soumissions.no_historique') }}</div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="modal-footer" *ngIf="soumission as s">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.close') }}</button>
    <button type="button" class="btn btn-danger" (click)="rejectSoumission(s.id)" *ngIf="canReject(s)">
      {{ __('global.rejeter') }}
    </button>
    <button type="button" class="btn btn-warning" (click)="passerEnEvaluation(s.id)" *ngIf="canPasserEnEvaluation(s)">
      {{ __('soumissions.passer_en_evaluation') }}
    </button>
    <button type="button" class="btn btn-primary" (click)="validateSoumission(s.id)" *ngIf="canValidate(s)">
      {{ __('global.accept') }}
    </button>
  </div>
</ng-template>

<!-- MODAL détails appel d'offre (depuis une soumission) -->
<ng-template #detailappeloffreModal>
  <div class="modal-header btn-primary">
    <h5 class="modal-title" id="myModalLabel"><b>{{ appelOffreTitleModal }}</b></h5>
    <button type="button" class="close" (click)="closeAppelOffreModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-appel-offre-detail [appelOffre]="appelOffreDetail"></app-appel-offre-detail>
  </div>
</ng-template>
