<mat-tab-group>
  <mat-tab label="{{ __('appel_offres.step_info')}}">
    <br />


    <div class="so-surface mb-2">
      <div class="row mb-3">
          <div class="col-md-6">
              <div class="so-kv">
                  <div class="so-k">{{ __("appel_offres.reference")}}</div>
                  <div class="so-v">{{ appelOffre.reference  }}</div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="so-kv">
                  <div class="so-k">{{ __("appel_offres.titre")}}</div>
                  <div class="so-v">{{ appelOffre.titre  }}</div>
              </div>
            
            
          </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <div class="so-kv">
            <div class="so-k">{{ __("appel_offres.description")}}</div>
            <div class="so-v"><span class="bold" [innerHTML]="appelOffre?.description"></span></div>
        </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
            <div class="so-kv">
                <div class="so-k">{{ __("appel_offres.date_publication")}}</div>
                <div class="so-v">{{appelOffre?.date_publication | date: 'dd/MM/yyyy HH:mm'  }}</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="so-kv">
                <div class="so-k">{{ __("appel_offres.date_limite_soumission")}}</div>
                <div class="so-v">{{  appelOffre?.date_limite_soumission | date: 'dd/MM/yyyy HH:mm'  }}</div>
            </div>
        </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-12">
        <div class="so-kv">
          <div class="so-k">{{ __("appel_offres.statut")}}</div>
          <div class="so-v"> <span class="ao-status-badge" [ngClass]="getStatusBadgeClass(appelOffre?.statut)">
            {{ getStatusLabel(appelOffre?.statut) }}
          </span></div>
      </div>
      </div>
    </div>
  </div>


  </mat-tab>

  <mat-tab label="{{ __('appel_offres.lignes') }}">
    <br />
    <div class="ao-surface" *ngIf="appelOffre?.lignes?.length; else noLines">
      <div class="table-responsive">
        <table class="table ao-lines-table">
          <thead class="ao-lines-thead">
            <tr>
              <th>{{ __('appel_offres.ligne_produit') }}</th>
              <th>{{ __('appel_offres.ligne_designation') }}</th>
              <th class="text-right">{{ __('appel_offres.ligne_quantite') }}</th>
              <th>{{ __('appel_offres.ligne_specifications') }}</th>
            </tr>
          </thead>
          <tbody class="ao-lines-tbody">
            <tr *ngFor="let l of appelOffre.lignes">
              <td>
                <div class="ao-product">
                  <div class="ao-product-name">
                    {{ l.produit?.nom_commercial || l.produit?.dci || l.produit?.code || '-' }}
                  </div>
                  <div class="ao-product-meta" *ngIf="l.produit?.code || l.produit?.dosage || l.produit?.conditionnement">
                    <span *ngIf="l.produit?.code">{{ l.produit.code }}</span>
                    <span *ngIf="l.produit?.dosage"> • {{ l.produit.dosage }}</span>
                    <span *ngIf="l.produit?.conditionnement"> • {{ l.produit.conditionnement }}</span>
                  </div>
                </div>
              </td>
              <td class="ao-cell">{{ l.designation }}</td>
              <td class="ao-qty">{{ l.quantite_demandee }}</td>
              <td class="ao-cell">{{ l.specifications }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #noLines>
      <p>{{ __('table.aucun_donnee') }}</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>
