
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                       
                        <div class="button-container">
                            <div class="left-button"></div>
                            <div class="right-button">
                                <button class="btn btn-secondary export-btn excel text-white" (click)="exportExcel('Liste des soldes du bureau')">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white" (click)="exportPdf('Liste des soldes du bureau')">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon" >
                                </button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal"
                                [formSearch] = "false"
                                >
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #infoSolde>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div id="content-virement-info">
            <div class="alert alert-custom">
                <label><b style="font-weight: 800;">{{ __('solde_bureau.code')}}</b></label>
                <h6><b class="info-virement">{{ dataSolde.code }}</b></h6>
            </div>
            
            <div class="alert alert-custom">
                <label><b style="font-weight: 800;">{{ __('solde_bureau.bureau')}}</b></label>
                <h6><b class="info-virement">{{ dataSolde.agence }}</b></h6>
            </div>
            
            <div class="alert alert-custom">
                <label><b style="font-weight: 800;">{{ __('solde_bureau.adresse')}}</b></label>
                <h6><b class="info-virement">{{ dataSolde.adresse }}</b></h6>
            </div>
            
            <div class="alert alert-custom">
                <label><b style="font-weight: 800;">{{ __('solde_bureau.solde_wallet')}} ({{ __('global.currency')}})</b></label>
                <h6><b class="info-virement">{{ dataSolde.solde }}</b></h6>
            </div>
            
            <div class="alert alert-custom">
                <label><b style="font-weight: 800;">{{ __('solde_bureau.solde_carte')}} ({{ __('global.currency')}})</b></label>
                <h6><b class="info-virement">{{ dataSolde.solde_carte }}</b></h6>
            </div>
        </div>
        <hr>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
    </div>
</ng-template>