<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                                <!--<button class="btn btn-secondary export-btn excel text-white" >
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button>-->
                            </div>
                            <div class="right-button">
                                <button class="btn btn-secondary"  (click)="openModalAddPartenaire()" *ngIf="autority('GCR_2')" [disabled]="!showListPartenaire"> {{ __("partenaire.new_partenaire")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="showListPartenaire">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal"
                                [formSearch]="false"
                            ></app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="!showListPartenaire">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <mat-tab-group>
                            <mat-tab label="{{ __('global.detail') }}">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">
                                            <fieldset class="border p-2">
                                                <legend class="w-auto legend">{{ __('global.detail')}}</legend>

                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="alert alert-custom">
                                                            <label><b style="font-weight: 800;">{{ __('global.code')}}</b></label>
                                                            <h6><b class="info-virement">{{ code }}</b></h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="alert alert-custom">
                                                            <label><b style="font-weight: 800;">{{ __('global.name')}}</b></label>
                                                            <h6><b class="info-virement">{{ namePartenaire }}</b></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="alert alert-custom">
                                                            <label><b style="font-weight: 800;">{{ __('utilisateur.email')}}</b></label>
                                                            <h6><b class="info-virement">{{ mailPartenaire }}</b></h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="alert alert-custom">
                                                            <label><b style="font-weight: 800;">{{ __('global.wallet_carte_label')}}</b></label>
                                                            <h6><b class="info-virement">{{ (isWalletCarte == 0) ? 'Oui' : 'Non' }}</b></h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </fieldset>
                                        </div>
                                        <div class="col-6">
                                            <fieldset class="border p-2">
                                                <legend class="w-auto legend">{{ __('global.solde')}}</legend>
                                                
                                                <div class="alert alert-custom">
                                                    <label><b style="font-weight: 800;">{{ __('global.solde_wallet')}}</b></label>
                                                    <h6><b class="info-virement">{{ solde_wallet }}</b></h6>
                                                </div>
                                                
                                                <div class="alert alert-custom">
                                                    <label><b style="font-weight: 800;">{{ __('global.solde_carte')}}</b></label>
                                                    <h6><b class="info-virement">{{ solde_carte }}</b></h6>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-6" *ngIf="wallet_carte == 'W' || wallet_carte == 'WC'">
                                            <fieldset class="border p-2">
                                                <legend class="w-auto legend">{{ __('global.wallet')}}</legend>
                                                
                                                <div class="alert alert-custom">
                                                    <label><b style="font-weight: 800;">{{ __('partenaire.taux_commission_paiment_hors_masse')}}(%)</b></label>
                                                    <h6><b class="info-virement">{{ tauxCommissionService }}</b></h6>
                                                </div>
                                                
                                                <div class="alert alert-custom">
                                                    <label><b style="font-weight: 800;">{{ __('partenaire.taux_commission_paiment_masse')}}(%)</b></label>
                                                    <h6><b class="info-virement">{{ tauxCommissionSunupaye }}</b></h6>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-6" *ngIf="wallet_carte == 'C' || wallet_carte == 'WC'">
                                            <fieldset class="border p-2">
                                                <legend class="w-auto legend">{{ __('global.carte')}}</legend>
                                                
                                                <div class="alert alert-custom">
                                                    <label><b style="font-weight: 800;">{{ __('partenaire.taux_commission_paiment_hors_masse')}}(%)</b></label>
                                                    <h6><b class="info-virement">{{ tauxCommissionServiceCarte }}</b></h6>
                                                </div>
                                                
                                                <div class="alert alert-custom">
                                                    <label><b style="font-weight: 800;">{{ __('partenaire.taux_commission_paiment_masse')}}(%)</b></label>
                                                    <h6><b class="info-virement">{{ tauxCommissionSunupayeCarte }}</b></h6>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="{{ __('partenaire.suivi_compte') }}" *ngIf="autority('GCR_6')">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- PRINT PDF -->
                                        <div class="button-container">
                                            <div class="left-buttons">
                                            <button class="btn btn-secondary export-btn excel text-white" (click)="exportExcel('Liste des mouvements de compte')">
                                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                                </button>
                                                <button class="btn btn-secondary export-btn pdf text-white" (click)="exportPdf('Liste des mouvements de compte')">
                                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon" >
                                                </button>
                                            </div> 
                                        </div>
                                        <!-- FORM FILTER -->
                                        <div class="bg-white">
                                            <form class="form-inline">
                                                <div class="form-group col-3">
                                                    <label for="account-type-1">{{ __('suivi_compte.type_compte') }}</label>
                                                    <!-- POUR ADMIN -->
                                                    <ng-container >
                                                        <mat-form-field appearance="fill" style="width: 100%;">
                                                            <mat-label>{{ __('suivi_compte.type_compte') }}</mat-label>
                                                            <mat-select [(ngModel)]="typeCompte" name="typeCompte" id="typeCompte">
                                                                <mat-option value="2">{{ __('suivi_compte.all_compte') }}</mat-option>
                                                                <mat-option value="1">{{ __('global.carte') }}</mat-option>
                                                                <mat-option value="0">{{ __('global.wallet') }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </ng-container>
                                                </div>

                                                <div class="form-group col-3">
                                                    <label for="account-type-1">{{ __('partenaire.service') }}</label>
                                                    <!-- POUR ADMIN -->
                                                    <ng-container >
                                                        <mat-form-field appearance="fill" style="width: 100%;">
                                                            <mat-label>{{ __('partenaire.service') }}</mat-label>
                                                            <mat-select [(ngModel)]="typeService" name="typeService">
                                                                <mat-option value="2">{{ __('partenaire.all_type') }}</mat-option>
                                                                <mat-option value="1">{{ __('partenaire.hors_paiement_masse') }}</mat-option>
                                                                <mat-option value="0">{{ __('partenaire.paiement_masse') }}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </ng-container>
                                                </div>
                                                
                                                <div class="form-group col-2">
                                                    <label for="dateFonction">{{ __('suivi_compte.from') }}</label>
                                                    <mat-form-field appearance="fill" style="width: 100%;">
                                                        <input matInput [matDatepicker]="pickerDebut" [(ngModel)]="dateDebut" placeholder="{{ __('global.select_date') }}" (focus)="pickerDebut.open()">
                                                        <mat-datepicker-toggle matSuffix [for]="pickerDebut"></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerDebut></mat-datepicker>
                                                    </mat-form-field>
                                                </div>
                                                
                                                <div class="form-group col-2">
                                                    <label for="dateFonction">{{ __('suivi_compte.to') }}</label>
                                                    <mat-form-field appearance="fill" style="width: 100%;">
                                                        <input matInput [matDatepicker]="pickerFin" [(ngModel)]="dateFin" placeholder="{{ __('global.select_date') }}" (focus)="pickerFin.open()">
                                                        <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                                                        <mat-datepicker #pickerFin></mat-datepicker>
                                                    </mat-form-field>
                                                </div>

                                                <div  class="col-2">
                                                    <button class="btn btn-primary w-100" color="primary" (click)="filtreTableau()">{{ __('global.filter') }}</button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <!--TABLE DATA-->
                                        <div class="table-responsive">
                                            <app-table
                                                [endpoint]="endpointMouvementCompte"
                                                [headerTable]="headerMouvementCompte"
                                                [body]="objetBodyMouvementCompte"
                                                [listIcon]="listIconMouvementCompte"
                                                [searchGlobal]="searchGlobalMouvementCompte"
                                                [formSearch] = "false"
                                                [triDescDefault] = "'date_transaction'"
                                                >
                                            </app-table>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-success" (click)="backList()">{{ __('global.back') }}</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-danger" *ngIf="statePartenaire == 'Activé' && autority('GCR_5')" (click)="activerPartenaire(0)">{{ __('global.desactiver') }}</button>
                                <button class="btn btn-danger" *ngIf="statePartenaire != 'Activé' && autority('GCR_5')" (click)="activerPartenaire(1)">{{ __('global.activer') }}</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-secondary" (click)="openModalUpdatePartenaire()" *ngIf="autority('GCR_3')">{{ __('global.update') }}</button>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-primary" >{{  __('partenaire.lier_partenaire') }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay" *ngIf="loading">
    <div class="loading-content">
        {{ __('global.loading') }}
    </div>
</div>

<ng-template #newPartenaire>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-6 form-group">
                <mat-form-field>
                    <mat-label>{{ __('global.code')}}</mat-label>
                    <input matInput type="text" maxlength="4" [(ngModel)]="code" placeholder="{{ __('global.code')}}">
                </mat-form-field>
            </div>

            <div class="col-6 form-group">
                <mat-form-field>
                    <mat-label>{{ __('global.name')}}</mat-label>
                    <input matInput type="text" [(ngModel)]="namePartenaire" placeholder="{{ __('global.name')}}">
                </mat-form-field>
            </div>

          

        </div>
        <div class="row">
            <div class="col-6 form-group">
                <mat-form-field>
                    <mat-label>{{ __('utilisateur.email')}}</mat-label>
                    <input matInput type="text" [(ngModel)]="mailPartenaire" placeholder="{{ __('utilisateur.email')}}">
                </mat-form-field>
            </div>

            <div class="col-6 form-group">
                <label>{{ __('profil.wallet_carte')}}</label><br>
                <mat-radio-group  [(ngModel)]="wallet_carte">
                    <mat-radio-button class="mr-3" value="W">{{ __('global.wallet')}}</mat-radio-button>
                    <mat-radio-button class="mr-3" value="C">{{ __('global.carte')}}</mat-radio-button>
                    <mat-radio-button class="mr-3" value="WC">{{ __('global.wallet_carte')}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6" *ngIf="wallet_carte == 'W' || wallet_carte == 'WC'">
                <fieldset class="border p-2">
                    <legend class="w-auto legend bold">{{ __('partenaire.taux_commission')}} : {{ __('global.wallet')}}</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_hors_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionService" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" placeholder="{{ __('partenaire.taux_commission_paiment_hors_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionSunupaye" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" placeholder="{{ __('partenaire.taux_commission_paiment_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    

                    
                </fieldset>
            </div>
            <div class="col-6" *ngIf="wallet_carte == 'C' || wallet_carte == 'WC'">
                <fieldset class="border p-2">
                    <legend class="w-auto legend bold">{{ __('partenaire.taux_commission')}} : {{ __('global.carte')}}</legend>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_hors_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionServiceCarte" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" placeholder="{{ __('partenaire.taux_commission_paiment_hors_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionSunupayeCarte" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" placeholder="{{ __('partenaire.taux_commission_paiment_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                  

                    
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" >{{ __('global.cancel')}}</button>
        <button type="button"
                *ngIf="['W', 'C', 'WC'].includes(wallet_carte)"
                class="btn btn-primary"
                (click)="sendNewPartenaire()"
                [disabled]="
                    code == undefined || 
                    namePartenaire == undefined || 
                    mailPartenaire == undefined || 
                    isDisabledByWalletType(wallet_carte)
                ">
            {{ __('global.save') }}
        </button>


    </div>
</ng-template>

<ng-template #updatePartenaire>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

       

        <div class="row">
            <div class="col-6 form-group">
                <mat-form-field>
                    <mat-label>{{ __('global.code')}}</mat-label>
                    <input matInput type="text" maxlength="4" [(ngModel)]="code" placeholder="{{ __('global.code')}}">
                </mat-form-field>
            </div>

            <div class="col-6 form-group">
                <mat-form-field>
                    <mat-label>{{ __('global.name')}}</mat-label>
                    <input matInput type="text" [(ngModel)]="namePartenaire" placeholder="{{ __('global.name')}}">
                </mat-form-field>
            </div>

          

        </div>
        <div class="row">
            <div class="col-6 form-group">
                <mat-form-field>
                    <mat-label>{{ __('utilisateur.email')}}</mat-label>
                    <input matInput type="text" [(ngModel)]="mailPartenaire" placeholder="{{ __('utilisateur.email')}}">
                </mat-form-field>
            </div>

            <div class="col-6 form-group">
                <label>{{ __('profil.wallet_carte')}}</label><br>
                <mat-radio-group  [(ngModel)]="wallet_carte">
                    <mat-radio-button class="mr-3" value="W">{{ __('global.wallet')}}</mat-radio-button>
                    <mat-radio-button class="mr-3" value="C">{{ __('global.carte')}}</mat-radio-button>
                    <mat-radio-button class="mr-3" value="WC">{{ __('global.wallet_carte')}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        
        <div class="row">
           
            <div class="col-6" *ngIf="wallet_carte == 'W' || wallet_carte == 'WC'">
                <fieldset class="border p-2">
                    <legend class="w-auto legend bold">{{ __('partenaire.taux_commission')}} : {{ __('global.wallet')}}</legend>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_hors_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionService" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" placeholder="{{ __('partenaire.taux_commission_paiment_hors_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionSunupaye" oninput="this.value = this.value.replace(/[^0-9.]/g, '');"placeholder="{{ __('partenaire.taux_commission_paiment_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    

                    
                </fieldset>
            </div>

            <div class="col-6" *ngIf="wallet_carte == 'C' || wallet_carte == 'WC'">
                <fieldset class="border p-2">
                    <legend class="w-auto legend bold">{{ __('partenaire.taux_commission')}} : {{ __('global.carte')}}</legend>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_hors_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionServiceCarte" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" placeholder="{{ __('partenaire.taux_commission_paiment_hors_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <mat-form-field>
                                    <mat-label>{{ __('partenaire.taux_commission_paiment_masse')}}(%)</mat-label>
                                    <input matInput type="text" [(ngModel)]="tauxCommissionSunupayeCarte" oninput="this.value = this.value.replace(/[^0-9.]/g, '');" placeholder="{{ __('partenaire.taux_commission_paiment_masse')}}">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                  

                    
                </fieldset>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" >{{ __('global.cancel')}}</button>
        <button type="button"
                *ngIf="['W', 'C', 'WC'].includes(wallet_carte)"
                class="btn btn-primary"
                (click)="sendNewPartenaire()"
                [disabled]="
                    code == undefined || 
                    namePartenaire == undefined || 
                    mailPartenaire == undefined || 
                    isDisabledByWalletType(wallet_carte)
                ">
            {{ __('global.save') }}
        </button>
    </div>
</ng-template>