<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-primary">
                        <div class="button-container">
                            <div class="left-buttons">
                               <!--  <button class="btn btn-secondary export-btn excel text-white">
                                    {{ __('global.export_excel') }} <img src="assets/img/icons8-export-excel-48.png" alt="Excel Icon">
                                </button>
                                <button class="btn btn-secondary export-btn pdf text-white">
                                    {{ __('global.export_pdf') }} <img src="assets/img/pdf.jpeg" alt="PDF Icon">
                                </button> -->
                            </div>
                            <div class="right-button">
                                <button *ngIf="autority('GSP_8')" class="btn btn-secondary" (click)="openModalAdd(addsous_categorie)"> {{ __("sous_categorie.add")}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <app-table
                                [endpoint]="endpoint"
                                [headerTable]="header"
                                [body]="objetBody"
                                [listIcon]="listIcon"
                                [searchGlobal]="searchGlobal">
                            </app-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #addsous_categorie>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" [formGroup]="sous_categorieForm" (ngSubmit)="onSubmit()">
            <div class="modal-body">
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>{{ __('sous_categorie.code')}}</mat-label>
                        <input matInput type="text" [(ngModel)]="sous_categorie.code" placeholder="{{ __('sous_categorie.code')}}" formControlName="code" name="code">
                    </mat-form-field>
                </div>
                
                <div class="form-group">
                    <mat-form-field>
                        <mat-label>{{ __('sous_categorie.nom')}}</mat-label>
                        <input matInput type="text" [(ngModel)]="sous_categorie.nom" placeholder="{{ __('sous_categorie.nom')}}" formControlName="nom" name="nom">
                    </mat-form-field>
                </div>

                <div class="form-group"> 
                    <mat-form-field appearance="fill">
                        <mat-label>{{ __('sous_categorie.famille')}}</mat-label>
                        <mat-select [(ngModel)]="sous_categorie.famille_produit_id" (selectionChange)="recupererCategorie($event)" name="famille_produit_id" formControlName="famille_produit_id" >
                          <!-- Champ de recherche -->
                          <mat-option>
                            <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                          </mat-option>
                      
                          <!-- Affichage des options filtrées -->
                          <mat-option *ngFor="let famille of filteredFamilles" [value]="famille.id"> {{ famille.nom }} </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="form-group"> 
                    <mat-form-field appearance="fill">
                        <mat-label>{{ __('sous_categorie.categorie')}}</mat-label>
                        <mat-select [(ngModel)]="sous_categorie.categorie_produit_id" name="categorie_produit_id" formControlName="categorie_produit_id" >
                          <!-- Champ de recherche -->
                          <mat-option>
                            <input matInput placeholder="Rechercher..." [formControl]="searchControl" (click)="$event.stopPropagation()" />
                          </mat-option>
                      
                          <!-- Affichage des options filtrées -->
                          <mat-option *ngFor="let categorie of filteredCategories" [value]="categorie.id"> {{ categorie.nom }} </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
               
               
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="!sous_categorie.id" [disabled]="sous_categorieForm.invalid">{{ __('global.save')}}</button>
                <button type="submit" class="btn btn-primary" *ngIf="sous_categorie.id" [disabled]="sous_categorieForm.invalid">{{ __('global.edit')}}</button>
            </div>
        </form>
    </div>
</ng-template>




<!-- MODAL -->
 <!-- Modal avec Material Design -->
 <ng-template #detailsous_categorie>
    <div class="modal-header btn-primary">
        <h5 class="modal-title" id="myModalLabel"><b> {{ titleModal }}</b></h5>
        <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">


        <mat-tab-group>
            <mat-tab label="Information du sous categorie">
              <br />
      
                <table style="width: 100%;">

                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("sous_categorie.code")}}</b></label>
                                <h6><b class="bold">{{  sous_categorie.code }}</b></h6>
                            </div>
                        </td>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("sous_categorie.nom")}}</b></label>
                                <h6><b class="bold">{{  sous_categorie.nom }}</b></h6>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <div class="alert alert-custom">
                                <label><b class="fw-800">{{ __("sous_categorie.categorie")}}</b></label>
                                <h6><b class="bold">{{  sous_categorie.categorie_produit }}</b></h6>
                            </div>
                        </td>
                       
                    </tr>
        
                
            
                </table>
            </mat-tab>


      
                   
          </mat-tab-group>


      

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">{{ __('global.cancel')}}</button>
        </div>
       
    </div>
</ng-template>
